body{
    font-family: "Inter", sans-serif;
}
/* common button */
.btn-primary{
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
/* nav-bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 80px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.nav-menu{
    display: flex;
    list-style: none;
    gap: 35px;
}
.nav-menu a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}
/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    
    /*FOR dark overlay */
    background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./assets/banner.jpg");

    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content{
    max-width: 800px;
}

.hero-content h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
}